yarn-error.log

node_modules

projects/metrics-server
projects/api/node_modules
projects/api/build

projects/models/node_modules

projects/frontend/node_modules
projects/frontend/build
projects/frontend/.cache
